.main-profile {
  background-color: #f5f5f5;
  border-radius: 0 10px 10px;
  box-shadow: 2px 0px 10px 0px #00000040;
  padding: 3rem;

  .workInfo_form,
  .timeOff_form,
  .teams {
    display: flex;
    justify-content: space-between;
    padding: 4rem 0;
  }

  .form_text {
    flex: 1 1 50%;
    max-width: 380px;

    h2 {
      color: #1e1e31;
      font-weight: normal;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    p {
      color: #515164;
      font-size: 16px;
    }

    .icon {
      color: #ff355e;
      font-size: 30px;
    }

    .divider {
      width: 30px;
      background-color: #ff355e;
      height: 2px;
    }
  }

  .form {
    flex: 1 1 50%;
    max-width: 380px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #c5c5c547;

    form {
      display: flex;
      flex-direction: column;

      .sm-icon {
        font-size: 18px;
        padding: 0 5px;
      }
    }
  }

  .teams {
    align-items: center;

    .form {
      cursor: pointer;
    }

    .team_link {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .team_icon {
        background-color: #6633995e;
        width: 50px;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        color: rebeccapurple;
        margin-right: 16px;
        height: 50px;
      }

      h2 {
        color: #1e1e31;
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        margin: 0;
      }

      p {
        color: #aeaeb8;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }

      .icon {
        color: #b3afaf;
        font-size: 25px;
      }
    }
  }

  .d-flex {
    display: flex;
    align-items: flex-start;
  }
}
