<section class="main-profile">
  <section class="workInfo_form">
    <div class="form_text">
      <mat-icon class="icon" aria-hidden="false" aria-label="apartment icon">apartment</mat-icon>
      <h2>Work information</h2>
      <p>Basic information about your role</p>
      <div class="divider"></div>
    </div>
    <div class="form">
      <form [formGroup]="workForm">

        <mat-label>Manager</mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="text" inputmode="text" formControlName="manager">
        </mat-form-field>

        <div class="d-flex">
          <mat-label>Email</mat-label>
          <mat-icon class="sm-icon" aria-hidden="false" aria-label="help icon">help</mat-icon>
        </div>
        <mat-form-field appearance="outline">
          <input matInput type="email" inputmode="email" formControlName="email">
        </mat-form-field>

        <mat-label>WorkPlace</mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="text" inputmode="text" formControlName="workPlace">
        </mat-form-field>

      </form>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="timeOff_form">
    <div class="form_text">
      <mat-icon class="icon" aria-hidden="false" aria-label="calendar_month icon">calendar_month</mat-icon>
      <h2>Time off</h2>
      <p>The time off supervisor is the person in charge of reviewing your time off requests</p>
      <div class="divider"></div>
    </div>
    <div class="form">
      <form [formGroup]="timeOffForm">
        <mat-label>Time off supervisor</mat-label>
        <mat-form-field appearance="outline">
          <input matInput type="text" inputmode="text" formControlName="timeOffSV">
        </mat-form-field>
      </form>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="teams">
    <div class="form_text">
      <mat-icon class="icon" aria-hidden="false" aria-label="people alt icon">people_alt</mat-icon>
      <h2>Teams</h2>
      <p>As an employee you can belong to many teams. These are the teams you belong to:</p>
      <div class="divider"></div>
    </div>
    <div class="form" [routerLink]="['../dashboard']">
      <div class="team_link">
        <div class="team_icon">
          TD
        </div>
        <div class="title">
          <h2>Developers Team</h2>
          <p>Number of team</p>
        </div>
        <div class="arrow">
          <mat-icon class="icon" aria-hidden="false" aria-label="people alt icon">arrow_forward</mat-icon>
        </div>
      </div>
    </div>
  </section>
</section>
