main {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  flex: 1 0 auto;
  padding: 30px;
  margin: 2rem auto;
  width: 1500px;
  transition: width .5s ease-in-out;
  animation: puls 1s;
  box-shadow: 0px 0px 15px 0px #00000040;
  border-radius: 15px;

  .navigation {
    flex: 1 1 30%;
  }

  .content {
    flex: 1 1 70%;
  }
}

@keyframes puls {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
