<section class="side_container">
  <button routerLinkActive="active" mat-stroked-button [routerLink]="['/dashboard']">
    <div class="button_container">
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
      <span>Dashboard</span>
    </div>
  </button>

  <button routerLinkActive="active" mat-stroked-button [routerLink]="['/profile']">
    <div class="button_container">
      <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
      <span>Me</span>
    </div>
  </button>

  <button routerLinkActive="active" mat-stroked-button [routerLink]="['/personal']">
    <div class="button_container">
      <mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon>
      <span>Me again</span>
    </div>
  </button>

</section>
